{% load staticfiles %}
<!DOCTYPE HTML>
@import url("");
<html>
    <head>
        <title>(these)abilities</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,300italic,600italic' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css'>
        <!--[if lte IE 8]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %}" /><![endif]-->
        <style>
        #banner { background-image: url("{% static 'images/overlay.png' %}"), url("{% static 'images/banner.jpg' %}");}
        .image:before { background: url("{% static 'images/overlay.png' %}"); }
        #make { background-image: url("{% static 'images/pink_rice.png' %}"); margin-top: -2em;}
        #header, #share, #footer { background-image: url("{% static 'images/stardust.png' %}"); }
        @font-face { font-family: Smoothy-Cursive; src: url("{% static 'fonts/Smoothy-Cursive.otf' %}"); }
        </style>
    </head>
    <body>
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header">
                    <h1><a href="#"><img class="navbar-logo" src="{% static 'images/logo.png' %}" alt="logo">(These)abilities</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="http://voices.theseabilities.com">Voices</a></li>
                            <li><a href="#make">About</a></li>
                            <li><a href="#contact">Contact</a></li>
<!--                             <li>
                                <a href="#" class="icon fa-angle-down">Projects</a>
                                <ul>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li>
                                        <a href="#">Submenu</a>
                                        <ul>
                                            <li><a href="#">Option 1</a></li>
                                            <li><a href="#">Option 2</a></li>
                                            <li><a href="#">Option 3</a></li>
                                            <li><a href="#">Option 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
 -->                        </ul>
                    </nav>
                </header>

            <!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="logo">
                        <h2>(These)abilities</h2>
                        <p>"Disabling disabilities" through technology and design</p>
                    </div>
                </section>

            <!-- One -->
                <!-- <section id="one" > -->
                <section id="make" class="wrapper">
                    <div class="row">

                        <div class="6u 12u(mobilep)">
                            <header class="">
                                <h2 class="bigword align-center">Make</h2>
                            </header>
                        </div>

                        <div class="6u 12u(mobilep) smallword">
                            <header class="major">
                                <h2>Design and collaborate on assistive technology products for people with disabilities.</h2>
                            </header>
                            <p>Anyone can be a maker. Whether you're a hobbyist, professional, student, or a person with a disability, join a project and help create a product that changes lives.</p>
                        </div>


                    </div>
                
                </section>

                <section id="share" class="wrapper">
                    <div class="row">
                        <div class="5u 12u(mobilep) smallword">
                            <header class="major">
                                <h2>Share the problems you face or see others facing, and share your ideas. </h2>
                            </header>
                            <p>As a person with any form of disability or someone involved in the space, have your voice heard by people who care. Find others who feel the same, and work with them to build solutions to your problems.</p>
                        </div>

                        <div class="7u 12u(mobilep)">
                            <header class="">
                                <h2 class="bigword align-center">Share</h2>
                            </header>
                        </div>

                    </div>
                
                </section>

            <!-- Contact -->
                <section id="contact" class="wrapper style4 special">
                    <div class="container 75%">
                        <header class="major">
                            <h2>Talk to us!<br />
                            We're always listening</h2>
                        </header>
                        <form method="POST" action="http://formspree.io/christabella.irwanto@gmail.com">
                            <div class="row uniform 50%">
                                <div class="6u 12u(mobilep)"><input type="text" name="name" id="name" placeholder="Name" /></div>
                                <div class="6u 12u(mobilep)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                            </div>
                            <div class="row uniform 50%">
                                <div class="12u"><textarea name="message" id="message" placeholder="Message" rows="8"></textarea></div>
                            </div>
                            <div class="row uniform">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <!-- <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul> -->
                    <div class="copyright">
                        &copy; (These)abilities 2015. All rights reserved.
                    </div>
                </footer>

        </div>

        <!-- Scripts -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
            <script src="{% static 'js/skel.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <!--[if lte IE 8]><script src="{% static 'js/respond.min.js' %}"></script><![endif]-->
            <script src="{% static 'js/main.js' %}"></script>
            <script type="text/javascript">
            setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0038/6668.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
            </script>
    </body>
</html>