/* FLAIRS */
.flair.flair-Thefirst { background-color: black; color: white; }
.flair.flair-Uni { background-color: gold; }
.flair.flair-Affiliate { background-color: silver; }
.flair.flair-Grumpy {background-color: grey; color: white}
.flair.flair-CTS {background-color:#2F4F4F; color: #CC7F32}
.flair.flair-TowChong {background-color:black; color: yellow}
.flair.flair-Red {background-color:Red; color: white}
.flair.flair-Yellow {background-color:yellow; color: black}
.flair.flair-Green {background-color:#00FF00; color: black}
.flair.flair-Blue {background-color:blue; color: white}
 
#header {
background-image:url(%%sutdents-header%%);
background-repeat:no-repeat;
}


#header-img.default-header {
    display: none;
}


#header-bottom-left {
padding-top:90px;
}

#header-img {
position:absolute!important;
top:33px;
left:20px;
}

.pagename a {
margin:0;
padding:0;
z-index: 300;
font-size:0!important;
position:absolute!important;
top:32px;
left:58px;
display:block!important;
width:184px;
height:60px;
}

#sr-header-area, #RESShortcutsEditContainer, #header-bottom-right {
background-color: #8191b2;
opacity:0.8;
border:none;
}

#header-bottom-right a, #sr-header-area a, #RESShortcuts, #RESShortcuts a{
color: #FFF!important; 
font-weight:bold; 
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a { 
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.tabmenu li a {
padding: 4px 8px 0 9px;
background-color: #8191b2;
opacity:0.8;
border-radius:1px;
color:#fff;
border: none;
text-transform: uppercase;
}

.tabmenu li a:hover { 
text-shadow: 0px 2px 7px; 
}

.tabmenu li.selected a {
color: #8191b2;
font-weight:bold;
background-color: white;
border: none!important;
}

.morelink {
border:none;
border-radius:3px;
background-image:none;
background-color:#8191b2;
opacity:0.8; 
}

.morelink a { 
color:#fff!important; 
}

.nub, .sidebox.submit .spacer, .sidebox.create .spacer { 
visibility:hidden; 
display:none; 
} 

.morelink:hover {
background-image:none; 
text-shadow: 0px 2px 7px; 
background-color:#1C7CB3;
}

.fancy-toggle-button .active, .RESshortcutside,  .RESDashboardToggle { 
border: none!important;
background-image:none!important;
background-color:#1C7CB3!important;opacity:0.8;
}

.thing .title.loggedin {
color: #8191b2;
}

.thing .title.loggedin.click:visited {
color: #3530C7;
}
.thing .title.loggedin.click, .thing .title.loggedin:visited { color: #3530C7; }

.sidecontentbox .content { border-color: #C7D0FF;}
/*
a:hover { 
text-shadow: 0px 0px 1px!important;
}
*/

.keyHighlight {
outline: none!important;
background-color: #fafcfe!important;
}

#siteTable p { 
padding-top:2px; 
padding-bottom:2px; 
}